[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
python-dotenv = "*"
setuptools = "*"
wheel = "*"
pandas = "*"
python-slugify = "*"
terminaltables = "*"
beautifulsoup4 = "==4.8.2"
html5lib = "==1.0.1"
pyopenssl = "==19.1.0"
pyyaml = "==5.3"
dash = "*"
click = "*"
loguru = "*"
dash-bootstrap-components = "*"
twisted = "*"
boto3 = "*"
botocore = "*"
